body{
    background-image: url("https://image.freepik.com/free-vector/cheese-background-seamless-pattern_7341-58.jpg");
    font-family: Verdana;
    margin: 5%;

}
.page
{
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    border:1px black solid;
    border-radius: 8px;    

}
img{
   
    height: auto;
    max-width: 25%;
}

.title
{
  display:flex;
  flex-direction: column;
  align-items: center;
}
h1{
    max-width: 70%;
    text-align: center;
}

#cheese{
    text-align: center;
}

